In [147]:
### üß™ Kit Pr√°tico ‚Äì Semana 2: Manipula√ß√£o de Dados com Pandas I
# Tema: Explorando Dados do Titanic
# Ferramenta: Google Colab
# Dataset: https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

import pandas as pd

# Passo 1: Carregar os dados
df_titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)


# Passo 2: Visualizar as 5 primeiras linhas do dataset
print("\nüîç Primeiras linhas:")
display(df_titanic.head())

# Passo 3: Verificar o nome das colunas e tipos de dados
print("\nüßæ Informa√ß√µes do DataFrame:")
display(df_titanic.info())

# Estat√≠sticas descritivas para colunas num√©ricas
print("\nEstat√≠sticas Descritivas para colunas num√©ricas:")
display(df_titanic.describe())

# Contagem de valores para uma coluna categ√≥rica (por exemplo, 'Survived')
print("\nContagem de sobreviventes (0 = N√£o, 1 = Sim):")
display(df_titanic['Survived'].value_counts())

# Passo 4: Filtrar apenas os passageiros que sobreviveram
sobreviventes = df_titanic[df_titanic['Survived'] == 1]
print("\nüõü Passageiros que sobreviveram:")
display(sobreviventes.head())

# Passo 5: Criar um novo DataFrame com apenas colunas relevantes
resumo = df_titanic[['Name', 'Sex', 'Age', 'Survived']]
print("\nüë§ Resumo com nome, sexo, idade e sobreviv√™ncia:")
display(resumo.head())

# Passo 6: Calcular a m√©dia de idade dos passageiros
media_idade = df_titanic['Age'].mean()
print(f"\nüìä M√©dia de idade dos passageiros: {media_idade:.2f} anos")

# Passo 7: Filtrar passageiros do sexo feminino com menos de 18 anos
meninas = df_titanic[(df_titanic['Sex'] == 'female') & (df_titanic['Age'] < 18)]
print("\nüëß Passageiras com menos de 18 anos:")
display(meninas[['Name', 'Age']])

tickets = df_titanic['Ticket']
display(f"Tickets {tickets}")
# DESAFIO EXTRA:
# Filtrar apenas os passageiros da 1¬™ classe que n√£o sobreviveram
passageiros_p1_nao_sobreviventes = df_titanic[(df_titanic['Pclass'] == 1) & (df_titanic['Survived'] == 0)]
print("\nPassageiros da 1¬™ classe que n√£o sobreviveram: ")
display(passageiros_p1_nao_sobreviventes)

#Filtrar apenas os passageiros da 2¬™ classe que n√£o sobreviveram
passageiros_p2_nao_sobreviventes = df_titanic[(df_titanic['Pclass'] == 2) & (df_titanic['Survived'] == 0)]
print("\nPassageiros da 2¬™ classe que n√£o sobreviveram: ")
display(passageiros_p2_nao_sobreviventes)

#Filtrar apenas os passageiros da 3¬™ classe que n√£o sobreviveram
passageiros_p3_nao_sobreviventes = df_titanic[(df_titanic['Pclass'] == 3) & (df_titanic['Survived'] == 0)]
print("\nPassageiros da 3¬™ classe que n√£o sobreviveram: ")
display(passageiros_p3_nao_sobreviventes)

# Calcular a porcentagem desses em rela√ß√£o ao total da 1¬™ classe
porcentagem_p1_nao_sobreviventes = (len(passageiros_p1_nao_sobreviventes) / len(df_titanic[df_titanic['Pclass'] == 1])) * 100
print(f"\nPorcentagem de passageiros da 1¬™ classe que n√£o sobreviveram: {porcentagem_p1_nao_sobreviventes:.2f}%")

#Calcular a porcentagem desses em rela√ß√£o ao total da 2¬™ classe
porcentagem_p2_nao_sobreviventes = (len(passageiros_p2_nao_sobreviventes) / len(df_titanic[df_titanic['Pclass'] == 2])) * 100
print(f"\nPorcentagem de passageiros da 2¬™ classe que n√£o sobreviveram: {porcentagem_p2_nao_sobreviventes:.2f}%")

#Calcular a porcentagem desses em rela√ß√£o ao total da 3¬™ classe
porcentagem_p3_nao_sobreviventes = (len(passageiros_p3_nao_sobreviventes) / len(df_titanic[df_titanic['Pclass'] == 3])) * 100
print(f"\nPorcentagem de passageiros da 3¬™ classe que n√£o sobreviveram: {porcentagem_p3_nao_sobreviventes:.2f}%")


# Quantos passageiros eram de cada sexo e de qual porto de embarque ?
passageiros_por_sexo = df_titanic['Sex'].value_counts()
print("\nPassageiros por sexo: ")
display(passageiros_por_sexo)

passageiros_por_porto = df_titanic['Embarked'].value_counts()
print("\nPassageiros por porto de embarque: ")
display(passageiros_por_porto)

# Qual √© a idade m√©dia dos sobreviventes e dos n√£o sobreviventes?
idade_media_sobreviventes = df_titanic[df_titanic['Survived'] == 1]['Age'].mean()
print(f"\nIdade M√©dia dos Sobreviventes: {idade_media_sobreviventes:.2f}")
idade_media_nao_sobreviventes = df_titanic[df_titanic['Survived'] == 0]['Age'].mean()
print(f"Idade M√©dia dos N√£o Sobreviventes: {idade_media_nao_sobreviventes:.2f}")

üîç Primeiras linhas:

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S

üßæ Informa√ß√µes do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

Estat√≠sticas Descritivas para colunas num√©ricas:

       PassengerId    Survived      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Contagem de sobreviventes (0 = N√£o, 1 = Sim):

Survived
0    549
1    342
Name: count, dtype: int64

üõü Passageiros que sobreviveram:

   PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
8            9         1       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9           10         1       2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C

üë§ Resumo com nome, sexo, idade e sobreviv√™ncia:

                                                Name     Sex   Age  Survived
0                            Braund, Mr. Owen Harris    male  22.0         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0         1
2                             Heikkinen, Miss. Laina  female  26.0         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0         1
4                           Allen, Mr. William Henry    male  35.0         0

üìä M√©dia de idade dos passageiros: 29.70 anos

üëß Passageiras com menos de 18 anos:

                                                  Name    Age
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.00
10                     Sandstrom, Miss. Marguerite Rut   4.00
14                Vestrom, Miss. Hulda Amanda Adolfina  14.00
22                         McGowan, Miss. Anna "Annie"  15.00
24                       Palsson, Miss. Torborg Danira   8.00
39                         Nicola-Yarred, Miss. Jamila  14.00
43            Laroche, Miss. Simonne Marie Anne Andree   3.00
58                        West, Miss. Constance Mirium   5.00
68                     Andersson, Miss. Erna Alexandra  17.00
71                          Goodwin, Miss. Lillian Amy  16.00
84                                 Ilett, Miss. Bertha  17.00
111                               Zabour, Miss. Hileni  14.50
114                              Attalah, Miss. Malake  17.00
119                  Andersson, Miss. Ellis Anna Maria   2.00
147                   Ford, Miss. Robina Maggie "Ruby"   9.00
156                   Gilnagh, Miss. Katherine "Katie"  16.00
172                       Johnson, Miss. Eleanor Ileen   1.00
184                Kink-Heilmann, Miss. Luise Gretchen   4.00
205                         Strom, Miss. Telma Matilda   2.00
208                          Carr, Miss. Helen "Ellen"  16.00
233                     Asplund, Miss. Lillian Gertrud   5.00
237                   Collyer, Miss. Marjorie "Lottie"   8.00
297                       Allison, Miss. Helen Loraine   2.00
307  Penasco y Castellana, Mrs. Victor de Satode (M...  17.00
329                       Hippach, Miss. Jean Gertrude  16.00
374                         Palsson, Miss. Stina Viola   3.00
381                        Nakid, Miss. Maria ("Mary")   1.00
389                              Lehmann, Miss. Bertha  17.00
419                          Van Impe, Miss. Catharina  10.00
435                          Carter, Miss. Lucile Polk  14.00
446                  Mellinger, Miss. Madeleine Violet  13.00
448                     Baclini, Miss. Marie Catherine   5.00
469                      Baclini, Miss. Helene Barbara   0.75
479                           Hirvonen, Miss. Hildur E   2.00
504                              Maioni, Miss. Roberta  16.00
530                           Quick, Miss. Phyllis May   2.00
535                             Hart, Miss. Eva Miriam   7.00
541               Andersson, Miss. Ingeborg Constanzia   9.00
542                  Andersson, Miss. Sigrid Elisabeth  11.00
618                        Becker, Miss. Marion Louise   4.00
634                                 Skoog, Miss. Mabel   9.00
642                      Skoog, Miss. Margit Elizabeth   2.00
644                             Baclini, Miss. Eugenie   0.75
689                  Madill, Miss. Georgette Alexandra  15.00
691                                 Karun, Miss. Manca   4.00
720                  Harper, Miss. Annie Jessie "Nina"   6.00
750                                  Wells, Miss. Joan   4.00
777                      Emanuel, Miss. Virginia Ethel   5.00
780                               Ayoub, Miss. Banoura  13.00
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  17.00
813                 Andersson, Miss. Ebba Iris Alfrida   6.00
830            Yasbeck, Mrs. Antoni (Selini Alexander)  15.00
852                            Boulos, Miss. Nourelain   9.00
853                          Lines, Miss. Mary Conover  16.00
875                   Najib, Miss. Adele Kiamie "Jane"  15.00

'Tickets 0             A/5 21171\n1              PC 17599\n2      STON/O2. 3101282\n3                113803\n4                373450\n             ...       \n886              211536\n887              112053\n888          W./C. 6607\n889              111369\n890              370376\nName: Ticket, Length: 891, dtype: object'

Passageiros da 1¬™ classe que n√£o sobreviveram:

     PassengerId  Survived  Pclass                                  Name   Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
6              7         0       1               McCarthy, Mr. Timothy J  male  54.0      0      0     17463   51.8625          E46        S
27            28         0       1        Fortune, Mr. Charles Alexander  male  19.0      3      2     19950  263.0000  C23 C25 C27        S
30            31         0       1              Uruchurtu, Don. Manuel E  male  40.0      0      0  PC 17601   27.7208          NaN        C
34            35         0       1               Meyer, Mr. Edgar Joseph  male  28.0      1      0  PC 17604   82.1708          NaN        C
35            36         0       1        Holverson, Mr. Alexander Oskar  male  42.0      1      0    113789   52.0000          NaN        S
..           ...       ...     ...                                   ...   ...   ...    ...    ...       ...       ...          ...      ...
806          807         0       1                Andrews, Mr. Thomas Jr  male  39.0      0      0    112050    0.0000          A36        S
815          816         0       1                      Fry, Mr. Richard  male   NaN      0      0    112058    0.0000         B102        S
822          823         0       1       Reuchlin, Jonkheer. John George  male  38.0      0      0     19972    0.0000          NaN        S
867          868         0       1  Roebling, Mr. Washington Augustus II  male  31.0      0      0  PC 17590   50.4958          A24        S
872          873         0       1              Carlsson, Mr. Frans Olof  male  33.0      0      0       695    5.0000  B51 B53 B55        S

[80 rows x 12 columns]

Passageiros da 2¬™ classe que n√£o sobreviveram:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket  Fare Cabin Embarked
20            21         0       2                               Fynney, Mr. Joseph J    male  35.0      0      0            239865  26.0   NaN        S
33            34         0       2                              Wheadon, Mr. Edward H    male  66.0      0      0        C.A. 24579  10.5   NaN        S
41            42         0       2  Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1      0             11668  21.0   NaN        S
70            71         0       2                         Jenkin, Mr. Stephen Curnow    male  32.0      0      0        C.A. 33111  10.5   NaN        S
72            73         0       2                               Hood, Mr. Ambrose Jr    male  21.0      0      0      S.O.C. 14879  73.5   NaN        S
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...   ...   ...      ...
854          855         0       2      Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1      0            244252  26.0   NaN        S
861          862         0       2                        Giles, Mr. Frederick Edward    male  21.0      1      0             28134  11.5   NaN        S
864          865         0       2                             Gill, Mr. John William    male  24.0      0      0            233866  13.0   NaN        S
883          884         0       2                      Banfield, Mr. Frederick James    male  28.0      0      0  C.A./SOTON 34068  10.5   NaN        S
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.0   NaN        S

[97 rows x 12 columns]

Passageiros da 3¬™ classe que n√£o sobreviveram:

     PassengerId  Survived  Pclass                                      Name     Sex   Age  SibSp  Parch           Ticket     Fare Cabin Embarked
0              1         0       3                   Braund, Mr. Owen Harris    male  22.0      1      0        A/5 21171   7.2500   NaN        S
4              5         0       3                  Allen, Mr. William Henry    male  35.0      0      0           373450   8.0500   NaN        S
5              6         0       3                          Moran, Mr. James    male   NaN      0      0           330877   8.4583   NaN        Q
7              8         0       3            Palsson, Master. Gosta Leonard    male   2.0      3      1           349909  21.0750   NaN        S
12            13         0       3            Saundercock, Mr. William Henry    male  20.0      0      0        A/5. 2151   8.0500   NaN        S
..           ...       ...     ...                                       ...     ...   ...    ...    ...              ...      ...   ...      ...
882          883         0       3              Dahlberg, Miss. Gerda Ulrika  female  22.0      0      0             7552  10.5167   NaN        S
884          885         0       3                    Sutehall, Mr. Henry Jr    male  25.0      0      0  SOTON/OQ 392076   7.0500   NaN        S
885          886         0       3      Rice, Mrs. William (Margaret Norton)  female  39.0      0      5           382652  29.1250   NaN        Q
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1      2       W./C. 6607  23.4500   NaN        S
890          891         0       3                       Dooley, Mr. Patrick    male  32.0      0      0           370376   7.7500   NaN        Q

[372 rows x 12 columns]

Porcentagem de passageiros da 1¬™ classe que n√£o sobreviveram: 37.04%

Porcentagem de passageiros da 2¬™ classe que n√£o sobreviveram: 52.72%

Porcentagem de passageiros da 3¬™ classe que n√£o sobreviveram: 75.76%

Passageiros por sexo:

Sex
male      577
female    314
Name: count, dtype: int64

Passageiros por porto de embarque:

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Idade M√©dia dos Sobreviventes: 28.34
Idade M√©dia dos N√£o Sobreviventes: 30.63

In [148]:
# Limpeza e Pr√©-processamento

# 1. Identifica√ß√£o e Remo√ß√£o de Duplicatas
num_duplicatas = df_titanic.duplicated().sum()
if num_duplicatas > 0:
    df_limpo = df_titanic.drop_duplicates().copy()
    print(f"\nN√∫mero de linhas duplicadas: {num_duplicatas}")
    print(f"Dataset ap√≥s a remo√ß√£o de duplicatas. Novas dimens√µes: {df_limpo.shape}")
else:
    df_limpo = df_titanic.copy()
    print(f"\nNenhuma linha duplicada encontrada.")

# 2. Identifica√ß√£o de Valores Ausentes
print("\nValores ausentes por coluna (antes do tratamento):")
display(df_limpo.isnull().sum())

# 3. Tratamento de Valores Ausentes
# Tratar a coluna 'Age' (idade) com a mediana
mediana_idade = df_limpo['Age'].median()
df_limpo.fillna({'Age': mediana_idade}, inplace=True)
print(f"\nValores ausentes na coluna 'Age' preenchidos com a mediana: {mediana_idade:.2f}")

# 4. Tratar a coluna 'Embarked' (porto de embarque) com o valor mais frequente
moda_embarque = df_limpo['Embarked'].mode()[0] #moda
df_limpo.fillna({'Embarked': moda_embarque}, inplace=True)
print(f"Valores ausentes na coluna 'Embarked' preenchidos com a moda: {moda_embarque}")

# 5. Para a coluna 'Cabin' (cabine), apenas indicar sua aus√™ncia
df_limpo.fillna({'Cabin': 'Missing'}, inplace=True)
print("Valores ausentes na coluna 'Cabin' preenchidos com 'Missing'.")

# 6. Verifica√ß√£o e Salvamento
print("\nVerifica√ß√£o final de valores ausentes:")
display(df_limpo.isnull().sum())

Nenhuma linha duplicada encontrada.

Valores ausentes por coluna (antes do tratamento):

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Valores ausentes na coluna 'Age' preenchidos com a mediana: 28.00
Valores ausentes na coluna 'Embarked' preenchidos com a moda: S
Valores ausentes na coluna 'Cabin' preenchidos com 'Missing'.

Verifica√ß√£o final de valores ausentes:

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [149]:
# Salvar o dataset limpo em um novo arquivo CSV (opcional)
df_limpo.to_csv('titanic_limpo.csv', index=False)
print("\nDataset limpo salvo como 'titanic_limpo.csv'.")
display(df_limpo)

Dataset limpo salvo como 'titanic_limpo.csv'.

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare    Cabin Embarked
0              1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500  Missing        S
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833      C85        C
2              3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250  Missing        S
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000     C123        S
4              5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500  Missing        S
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...      ...      ...      ...
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.0000  Missing        S
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0            112053  30.0000      B42        S
888          889         0       3           Johnston, Miss. Catherine Helen "Carrie"  female  28.0      1      2        W./C. 6607  23.4500  Missing        S
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0            111369  30.0000     C148        C
890          891         0       3                                Dooley, Mr. Patrick    male  32.0      0      0            370376   7.7500  Missing        Q

[891 rows x 12 columns]

In [150]:
# Vasculhe os dados e encontre uma caracter√≠stica peculiar.
df_limpo['First Name'] = df_limpo['Name'].str.split(',').str[1] # Separa a coluna Name e coloca em uma coluna diferente o que est√° ap√≥s a v√≠rgula
df_limpo['Last Name'] = df_limpo['Name'].str.split(',').str[0] # Separa a coluna Name e coloca em uma coluna diferente o que est√° antes a v√≠rgula

# A coluna Ticket tem muitos valores √∫nicos. Tente analisar
#  os valores ausentes de uma forma diferente: o que aconteceria
#  se voc√™ simplesmente removesse todas as linhas que t√™m pelo menos um valor ausente? Compare o n√∫mero de linhas restantes com o dataset original.
print("\nValores duplicados da coluna Ticket")
display(df_limpo[df_limpo['Ticket'].duplicated()].sort_values(by='Ticket'))
df_Tickets_sem_duplicatas = df_limpo.drop_duplicates(subset='Ticket')

print("\nDataframe com coluna Tickets sem duplicatas:")
display(df_Tickets_sem_duplicatas)

print("\nN√∫mero de linhas no dataset original sem valores ausentes:")
display(df_titanic.dropna())

# Crie uma nova coluna chamada FamilySize que √© a soma de SibSp (irm√£os/c√¥njuges) e Parch (pais/filhos).
print("\nDataframe com a nova coluna 'FamilySize'")
df_limpo['FamilySize'] = df_limpo['SibSp'] + df_limpo['Parch']
display(df_limpo)

# Depois, calcule a m√©dia de sobreviv√™ncia para diferentes tamanhos de fam√≠lia. O que voc√™ observa?
print("\nM√©dia de sobreviv√™ncia para diferentes tamanhos de fam√≠lia:")
media_sobrevivencia_por_familia = df_limpo.groupby('FamilySize')['Survived'].mean()
display(media_sobrevivencia_por_familia)

Valores duplicados da coluna Ticket

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch      Ticket    Fare    Cabin Embarked                                         First Name Last Name
504          505         1       1                              Maioni, Miss. Roberta  female  16.0      0      0      110152  86.500      B79        S                                      Miss. Roberta    Maioni
759          760         1       1  Rothes, the Countess. of (Lucy Noel Martha Dye...  female  33.0      0      0      110152  86.500      B77        S   the Countess. of (Lucy Noel Martha Dyer-Edwards)    Rothes
558          559         1       1             Taussig, Mrs. Emil (Tillie Mandelbaum)  female  39.0      1      1      110413  79.650      E67        S                      Mrs. Emil (Tillie Mandelbaum)   Taussig
585          586         1       1                                Taussig, Miss. Ruth  female  18.0      0      2      110413  79.650      E68        S                                         Miss. Ruth   Taussig
475          476         0       1                        Clifford, Mr. George Quincy    male  28.0      0      0      110465  52.000      A14        S                                  Mr. George Quincy  Clifford
..           ...       ...     ...                                                ...     ...   ...    ...    ...         ...     ...      ...      ...                                                ...       ...
888          889         0       3           Johnston, Miss. Catherine Helen "Carrie"  female  28.0      1      2  W./C. 6607  23.450  Missing        S                     Miss. Catherine Helen "Carrie"  Johnston
147          148         0       3                   Ford, Miss. Robina Maggie "Ruby"  female   9.0      2      2  W./C. 6608  34.375  Missing        S                         Miss. Robina Maggie "Ruby"      Ford
436          437         0       3               Ford, Miss. Doolina Margaret "Daisy"  female  21.0      2      2  W./C. 6608  34.375  Missing        S                     Miss. Doolina Margaret "Daisy"      Ford
736          737         0       3            Ford, Mrs. Edward (Margaret Ann Watson)  female  48.0      1      3  W./C. 6608  34.375  Missing        S                  Mrs. Edward (Margaret Ann Watson)      Ford
745          746         0       1                       Crosby, Capt. Edward Gifford    male  70.0      1      1   WE/P 5735  71.000      B22        S                               Capt. Edward Gifford    Crosby

[210 rows x 14 columns]

Dataframe com coluna Tickets sem duplicatas:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare    Cabin Embarked                                   First Name  Last Name
0              1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500  Missing        S                              Mr. Owen Harris     Braund
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833      C85        C   Mrs. John Bradley (Florence Briggs Thayer)    Cumings
2              3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250  Missing        S                                  Miss. Laina  Heikkinen
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000     C123        S           Mrs. Jacques Heath (Lily May Peel)   Futrelle
4              5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500  Missing        S                            Mr. William Henry      Allen
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...      ...      ...      ...                                          ...        ...
884          885         0       3                             Sutehall, Mr. Henry Jr    male  25.0      0      0   SOTON/OQ 392076   7.0500  Missing        S                                 Mr. Henry Jr   Sutehall
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.0000  Missing        S                                  Rev. Juozas   Montvila
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0            112053  30.0000      B42        S                         Miss. Margaret Edith     Graham
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0            111369  30.0000     C148        C                              Mr. Karl Howell       Behr
890          891         0       3                                Dooley, Mr. Patrick    male  32.0      0      0            370376   7.7500  Missing        Q                                  Mr. Patrick     Dooley

[681 rows x 14 columns]

N√∫mero de linhas no dataset original sem valores ausentes:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch    Ticket     Fare        Cabin Embarked
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0  PC 17599  71.2833          C85        C
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0    113803  53.1000         C123        S
6              7         0       1                            McCarthy, Mr. Timothy J    male  54.0      0      0     17463  51.8625          E46        S
10            11         1       3                    Sandstrom, Miss. Marguerite Rut  female   4.0      1      1   PP 9549  16.7000           G6        S
11            12         1       1                           Bonnell, Miss. Elizabeth  female  58.0      0      0    113783  26.5500         C103        S
..           ...       ...     ...                                                ...     ...   ...    ...    ...       ...      ...          ...      ...
871          872         1       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1      1     11751  52.5542          D35        S
872          873         0       1                           Carlsson, Mr. Frans Olof    male  33.0      0      0       695   5.0000  B51 B53 B55        S
879          880         1       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0      1     11767  83.1583          C50        C
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0    112053  30.0000          B42        S
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0    111369  30.0000         C148        C

[183 rows x 12 columns]

Dataframe com a nova coluna 'FamilySize'

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare    Cabin Embarked                                   First Name  Last Name  FamilySize
0              1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500  Missing        S                              Mr. Owen Harris     Braund           1
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833      C85        C   Mrs. John Bradley (Florence Briggs Thayer)    Cumings           1
2              3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250  Missing        S                                  Miss. Laina  Heikkinen           0
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000     C123        S           Mrs. Jacques Heath (Lily May Peel)   Futrelle           1
4              5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500  Missing        S                            Mr. William Henry      Allen           0
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...      ...      ...      ...                                          ...        ...         ...
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.0000  Missing        S                                  Rev. Juozas   Montvila           0
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0            112053  30.0000      B42        S                         Miss. Margaret Edith     Graham           0
888          889         0       3           Johnston, Miss. Catherine Helen "Carrie"  female  28.0      1      2        W./C. 6607  23.4500  Missing        S               Miss. Catherine Helen "Carrie"   Johnston           3
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0            111369  30.0000     C148        C                              Mr. Karl Howell       Behr           0
890          891         0       3                                Dooley, Mr. Patrick    male  32.0      0      0            370376   7.7500  Missing        Q                                  Mr. Patrick     Dooley           0

[891 rows x 15 columns]

M√©dia de sobreviv√™ncia para diferentes tamanhos de fam√≠lia:

FamilySize
0     0.303538
1     0.552795
2     0.578431
3     0.724138
4     0.200000
5     0.136364
6     0.333333
7     0.000000
10    0.000000
Name: Survived, dtype: float64

#Relat√≥rio Titanic

In [151]:
#1. Rastreamento por Bilhete (Ticket)

#Informa√ß√£o a ser analisada: A coluna Ticket e, em particular, a quantidade de pessoas associadas a cada bilhete.

#An√°lise de Fraude: Fraudes de seguro podem envolver pessoas que n√£o estavam a bordo, mas que reivindicam um bilhete para receber indeniza√ß√£o.
#Eu cruzaria os dados de todos os bilhetes associados a uma mesma fam√≠lia ou grupo e verificaria se o n√∫mero de sobreviventes declarados corresponde ao n√∫mero de passageiros que realmente embarcaram com aquele bilhete.
# Se houver discrep√¢ncia ‚Äî como uma fam√≠lia inteira declarada como morta, mas com um ou mais membros aparecendo em listas de sobreviventes ‚Äî isso seria um alerta.
df_limpo_Ticket_Analysis = df_limpo.copy()
df_limpo_Ticket_Analysis['Ticket_Count'] = df_limpo.groupby(['Ticket','Last Name'])['Ticket'].transform('count')

print("\nCompara√ß√£o Tamanho Fam√≠lia e Quantidade por Ticket:")
display(df_limpo_Ticket_Analysis[df_limpo_Ticket_Analysis['Ticket_Count'] > df_limpo_Ticket_Analysis['FamilySize']].sort_values(by='Ticket_Count', ascending=False))
#display(df_limpo[df_limpo['Last Name'] == 'Graham'])

# Conta quantas pessoas no total est√£o no mesmo bilhete
df_limpo_Ticket_Analysis['GroupSize_by_Ticket'] = df_limpo_Ticket_Analysis.groupby('Ticket')['Ticket'].transform('count')
display(df_limpo_Ticket_Analysis.sort_values(by='GroupSize_by_Ticket',ascending=False))


#Agrupa por bilhete e calcula o total de pessoas e de sobreviventes
analise_sobrevivencia_grupo = df_limpo_Ticket_Analysis.groupby('Ticket').agg(
    Total_Passageiros=('PassengerId', 'count'),
    Total_Sobreviventes=('Survived', 'sum')
)

# Calcula o n√∫mero de mortos no grupo
analise_sobrevivencia_grupo['Total_Mortos'] = analise_sobrevivencia_grupo['Total_Passageiros'] - analise_sobrevivencia_grupo['Total_Sobreviventes']

# Ordena para ver os maiores grupos
analise_sobrevivencia_grupo = analise_sobrevivencia_grupo.sort_values(by='Total_Passageiros', ascending=False)

display(analise_sobrevivencia_grupo[analise_sobrevivencia_grupo['Total_Sobreviventes'] == 0].reset_index().drop_duplicates())

Compara√ß√£o Tamanho Fam√≠lia e Quantidade por Ticket:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch     Ticket     Fare    Cabin Embarked                                       First Name    Last Name  FamilySize  Ticket_Count
850          851         0       3            Andersson, Master. Sigvard Harald Elias    male   4.0      4      2     347082  31.2750  Missing        S                     Master. Sigvard Harald Elias    Andersson           6             7
813          814         0       3                 Andersson, Miss. Ebba Iris Alfrida  female   6.0      4      2     347082  31.2750  Missing        S                          Miss. Ebba Iris Alfrida    Andersson           6             7
542          543         0       3                  Andersson, Miss. Sigrid Elisabeth  female  11.0      4      2     347082  31.2750  Missing        S                           Miss. Sigrid Elisabeth    Andersson           6             7
610          611         0       3  Andersson, Mrs. Anders Johan (Alfrida Konstant...  female  39.0      1      5     347082  31.2750  Missing        S   Mrs. Anders Johan (Alfrida Konstantia Brogren)    Andersson           6             7
119          120         0       3                  Andersson, Miss. Ellis Anna Maria  female   2.0      4      2     347082  31.2750  Missing        S                           Miss. Ellis Anna Maria    Andersson           6             7
..           ...       ...     ...                                                ...     ...   ...    ...    ...        ...      ...      ...      ...                                              ...          ...         ...           ...
19            20         1       3                            Masselmani, Mrs. Fatima  female  28.0      0      0       2649   7.2250  Missing        C                                      Mrs. Fatima   Masselmani           0             1
17            18         1       2                       Williams, Mr. Charles Eugene    male  28.0      0      0     244373  13.0000  Missing        S                               Mr. Charles Eugene     Williams           0             1
15            16         1       2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0     248706  16.0000  Missing        S                          Mrs. (Mary D Kingcome)       Hewlett           0             1
14            15         0       3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0      0     350406   7.8542  Missing        S                      Miss. Hulda Amanda Adolfina      Vestrom           0             1
12            13         0       3                     Saundercock, Mr. William Henry    male  20.0      0      0  A/5. 2151   8.0500  Missing        S                                Mr. William Henry  Saundercock           0             1

[680 rows x 16 columns]

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch     Ticket     Fare    Cabin Embarked                                       First Name    Last Name  FamilySize  Ticket_Count  GroupSize_by_Ticket
13            14         0       3                        Andersson, Mr. Anders Johan    male  39.0      1      5     347082  31.2750  Missing        S                                 Mr. Anders Johan    Andersson           6             7                    7
324          325         0       3                           Sage, Mr. George John Jr    male  28.0      8      2   CA. 2343  69.5500  Missing        S                               Mr. George John Jr         Sage          10             7                    7
826          827         0       3                                       Lam, Mr. Len    male  28.0      0      0       1601  56.4958  Missing        S                                          Mr. Len          Lam           0             2                    7
813          814         0       3                 Andersson, Miss. Ebba Iris Alfrida  female   6.0      4      2     347082  31.2750  Missing        S                          Miss. Ebba Iris Alfrida    Andersson           6             7                    7
610          611         0       3  Andersson, Mrs. Anders Johan (Alfrida Konstant...  female  39.0      1      5     347082  31.2750  Missing        S   Mrs. Anders Johan (Alfrida Konstantia Brogren)    Andersson           6             7                    7
..           ...       ...     ...                                                ...     ...   ...    ...    ...        ...      ...      ...      ...                                              ...          ...         ...           ...                  ...
15            16         1       2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0      0     248706  16.0000  Missing        S                          Mrs. (Mary D Kingcome)       Hewlett           0             1                    1
14            15         0       3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0      0     350406   7.8542  Missing        S                      Miss. Hulda Amanda Adolfina      Vestrom           0             1                    1
12            13         0       3                     Saundercock, Mr. William Henry    male  20.0      0      0  A/5. 2151   8.0500  Missing        S                                Mr. William Henry  Saundercock           0             1                    1
11            12         1       1                           Bonnell, Miss. Elizabeth  female  58.0      0      0     113783  26.5500     C103        S                                  Miss. Elizabeth      Bonnell           0             1                    1
6              7         0       1                            McCarthy, Mr. Timothy J    male  54.0      0      0      17463  51.8625      E46        S                                    Mr. Timothy J     McCarthy           0             1                    1

[891 rows x 17 columns]

       Ticket  Total_Passageiros  Total_Sobreviventes  Total_Mortos
0    CA. 2343                  7                    0             7
1      347082                  7                    0             7
2     CA 2144                  6                    0             6
3     3101295                  6                    0             6
4      347088                  6                    0             6
..        ...                ...                  ...           ...
416    112379                  1                    0             1
417    112059                  1                    0             1
418    112058                  1                    0             1
419    112052                  1                    0             1
420    112050                  1                    0             1

[421 rows x 4 columns]

In [152]:
# 2. Padr√µes de Sobreviv√™ncia Inconsistentes

# Informa√ß√£o a ser analisada: As colunas Survived, Age, Sex e Pclass.

# An√°lise de Fraude: O padr√£o de sobreviv√™ncia no Titanic √© bem conhecido: mulheres, crian√ßas e passageiros da Primeira Classe tiveram taxas de sobreviv√™ncia muito maiores.
# Eu criaria relat√≥rios para identificar:

# Homens que sobreviveram:
# Se um homem da Terceira Classe, que teve as menores chances de sobreviv√™ncia, for listado como morto em uma reivindica√ß√£o de seguro, mas aparecer como sobrevivente em outras listas ou testemunhos, isso levantaria uma bandeira vermelha.

# Discrep√¢ncias de Idade: A idade (Age) √© um dado crucial.
# Um passageiro idoso ou uma crian√ßa pequena, que teriam mais dificuldade para chegar aos botes salva-vidas, mas que s√£o reivindicados como sobreviventes por um familiar, mereceriam uma investiga√ß√£o mais detalhada.
# A fraude poderia estar na reivindica√ß√£o do seguro de um passageiro que de fato morreu, mas cuja identidade √© assumida por um sobrevivente para obter indeniza√ß√µes duplas ou indevidas.

# Criar a tabela din√¢mica para visualizar as taxas de sobreviv√™ncia
tabela_sobrevivencia = pd.pivot_table(df_limpo,
                                      values='Survived',
                                      index='Pclass',
                                      columns='Sex',
                                      aggfunc='mean')

# Formatar para exibir como porcentagem
print("Taxa de Sobreviv√™ncia M√©dia por Classe e Sexo:")
display(tabela_sobrevivencia.style.format('{:.2%}'))

sobreviventes_inconsistentes = df_limpo.copy()
sobreviventes_inconsistentes = sobreviventes_inconsistentes[(sobreviventes_inconsistentes['Sex'] == 'male') & (sobreviventes_inconsistentes['Pclass'] == 3) & (sobreviventes_inconsistentes['Survived'] == 1)].sort_values(by='Age', ascending=False)
print("\nHomens da Terceira Classe que sobreviveram:")
display(sobreviventes_inconsistentes)

Taxa de Sobreviv√™ncia M√©dia por Classe e Sexo:

Homens da Terceira Classe que sobreviveram:

     PassengerId  Survived  Pclass                                               Name   Sex    Age  SibSp  Parch             Ticket     Fare    Cabin Embarked                                First Name               Last Name  FamilySize
338          339         1       3                              Dahl, Mr. Karl Edwart  male  45.00      0      0               7598   8.0500  Missing        S                           Mr. Karl Edwart                    Dahl           0
414          415         1       3                          Sundman, Mr. Johan Julian  male  44.00      0      0  STON/O 2. 3101269   7.9250  Missing        S                          Mr. Johan Julian                 Sundman           0
400          401         1       3                                 Niskanen, Mr. Juha  male  39.00      0      0  STON/O 2. 3101289   7.9250  Missing        S                                  Mr. Juha                Niskanen           0
429          430         1       3                 Pickard, Mr. Berk (Berk Trembisky)  male  32.00      0      0  SOTON/O.Q. 392078   8.0500      E10        S                 Mr. Berk (Berk Trembisky)                 Pickard           0
74            75         1       3                                      Bing, Mr. Lee  male  32.00      0      0               1601  56.4958  Missing        S                                   Mr. Lee                    Bing           0
579          580         1       3                                Jussila, Mr. Eiriik  male  32.00      0      0  STON/O 2. 3101286   7.9250  Missing        S                                Mr. Eiriik                 Jussila           0
569          570         1       3                                  Jonsson, Mr. Carl  male  32.00      0      0             350417   7.8542  Missing        S                                  Mr. Carl                 Jonsson           0
838          839         1       3                                    Chip, Mr. Chang  male  32.00      0      0               1601  56.4958  Missing        S                                 Mr. Chang                    Chip           0
744          745         1       3                                 Stranden, Mr. Juho  male  31.00      0      0  STON/O 2. 3101288   7.9250  Missing        S                                  Mr. Juho                Stranden           0
286          287         1       3                            de Mulder, Mr. Theodore  male  30.00      0      0             345774   9.5000  Missing        S                              Mr. Theodore               de Mulder           0
81            82         1       3                        Sheerlinck, Mr. Jan Baptist  male  29.00      0      0             345779   9.5000  Missing        S                           Mr. Jan Baptist              Sheerlinck           0
455          456         1       3                                 Jalsevac, Mr. Ivan  male  29.00      0      0             349240   7.8958  Missing        C                                  Mr. Ivan                Jalsevac           0
510          511         1       3                           Daly, Mr. Eugene Patrick  male  29.00      0      0             382651   7.7500  Missing        Q                        Mr. Eugene Patrick                    Daly           0
65            66         1       3                           Moubarek, Master. Gerios  male  28.00      1      1               2661  15.2458  Missing        C                            Master. Gerios                Moubarek           2
36            37         1       3                                   Mamee, Mr. Hanna  male  28.00      0      0               2677   7.2292  Missing        C                                 Mr. Hanna                   Mamee           0
828          829         1       3                       McCormack, Mr. Thomas Joseph  male  28.00      0      0             367228   7.7500  Missing        Q                         Mr. Thomas Joseph               McCormack           0
301          302         1       3                                 McCoy, Mr. Bernard  male  28.00      2      0             367226  23.2500  Missing        Q                               Mr. Bernard                   McCoy           2
107          108         1       3                             Moss, Mr. Albert Johan  male  28.00      0      0             312991   7.7750  Missing        S                          Mr. Albert Johan                    Moss           0
444          445         1       3                  Johannesen-Bratthammer, Mr. Bernt  male  28.00      0      0              65306   8.1125  Missing        S                                 Mr. Bernt  Johannesen-Bratthammer           0
692          693         1       3                                       Lam, Mr. Ali  male  28.00      0      0               1601  56.4958  Missing        S                                   Mr. Ali                     Lam           0
709          710         1       3  Moubarek, Master. Halim Gonios ("William George")  male  28.00      1      1               2661  15.2458  Missing        C   Master. Halim Gonios ("William George")                Moubarek           2
643          644         1       3                                    Foo, Mr. Choong  male  28.00      0      0               1601  56.4958  Missing        S                                Mr. Choong                     Foo           0
804          805         1       3                            Hedman, Mr. Oskar Arvid  male  27.00      0      0             347089   6.9750  Missing        S                           Mr. Oskar Arvid                  Hedman           0
821          822         1       3                                  Lulic, Mr. Nikola  male  27.00      0      0             315098   8.6625  Missing        S                                Mr. Nikola                   Lulic           0
146          147         1       3       Andersson, Mr. August Edvard ("Wennerstrom")  male  27.00      0      0             350043   7.7958  Missing        S         Mr. August Edvard ("Wennerstrom")               Andersson           0
207          208         1       3                        Albimona, Mr. Nassef Cassem  male  26.00      0      0               2699  18.7875  Missing        C                         Mr. Nassef Cassem                Albimona           0
509          510         1       3                                     Lang, Mr. Fang  male  26.00      0      0               1601  56.4958  Missing        S                                  Mr. Fang                    Lang           0
271          272         1       3                       Tornquist, Mr. William Henry  male  25.00      0      0               LINE   0.0000  Missing        S                         Mr. William Henry               Tornquist           0
267          268         1       3                           Persson, Mr. Ernst Ulrik  male  25.00      1      0             347083   7.7750  Missing        S                           Mr. Ernst Ulrik                 Persson           1
127          128         1       3                          Madsen, Mr. Fridtjof Arne  male  24.00      0      0            C 17369   7.1417  Missing        S                         Mr. Fridtjof Arne                  Madsen           0
553          554         1       3                  Leeni, Mr. Fahim ("Philip Zenni")  male  22.00      0      0               2620   7.2250  Missing        C                Mr. Fahim ("Philip Zenni")                   Leeni           0
391          392         1       3                             Jansson, Mr. Carl Olof  male  21.00      0      0             350034   7.7958  Missing        S                             Mr. Carl Olof                 Jansson           0
664          665         1       3                        Lindqvist, Mr. Eino William  male  20.00      1      0  STON/O 2. 3101285   7.9250  Missing        S                          Mr. Eino William               Lindqvist           1
622          623         1       3                                   Nakid, Mr. Sahid  male  20.00      1      1               2653  15.7417  Missing        C                                 Mr. Sahid                   Nakid           2
762          763         1       3                              Barah, Mr. Hanna Assi  male  20.00      0      0               2663   7.2292  Missing        C                            Mr. Hanna Assi                   Barah           0
283          284         1       3                         Dorking, Mr. Edward Arthur  male  19.00      0      0         A/5. 10482   8.0500  Missing        S                         Mr. Edward Arthur                 Dorking           0
204          205         1       3                           Cohen, Mr. Gurshon "Gus"  male  18.00      0      0           A/5 3540   8.0500  Missing        S                         Mr. Gurshon "Gus"                   Cohen           0
220          221         1       3                     Sunderland, Mr. Victor Francis  male  16.00      0      0    SOTON/OQ 392089   8.0500  Missing        S                        Mr. Victor Francis              Sunderland           0
125          126         1       3                       Nicola-Yarred, Master. Elias  male  12.00      1      0               2651  11.2417  Missing        C                             Master. Elias           Nicola-Yarred           1
489          490         1       3              Coutts, Master. Eden Leslie "Neville"  male   9.00      1      1         C.A. 37671  15.9000  Missing        S             Master. Eden Leslie "Neville"                  Coutts           2
165          166         1       3    Goldsmith, Master. Frank John William "Frankie"  male   9.00      0      2             363291  20.5250  Missing        S      Master. Frank John William "Frankie"               Goldsmith           2
751          752         1       3                                Moor, Master. Meier  male   6.00      0      1             392096  12.4750     E121        S                             Master. Meier                    Moor           1
869          870         1       3                    Johnson, Master. Harold Theodor  male   4.00      1      1             347742  11.1333  Missing        S                    Master. Harold Theodor                 Johnson           2
261          262         1       3                  Asplund, Master. Edvin Rojj Felix  male   3.00      4      2             347077  31.3875  Missing        S                  Master. Edvin Rojj Felix                 Asplund           6
348          349         1       3             Coutts, Master. William Loch "William"  male   3.00      1      1         C.A. 37671  15.9000  Missing        S            Master. William Loch "William"                  Coutts           2
788          789         1       3                         Dean, Master. Bertram Vere  male   1.00      1      2          C.A. 2315  20.5750  Missing        S                      Master. Bertram Vere                    Dean           3
803          804         1       3                    Thomas, Master. Assad Alexander  male   0.42      0      1               2625   8.5167  Missing        C                   Master. Assad Alexander                  Thomas           1

In [153]:
# 3. An√°lise da Cabine e Fatores de Risco (Cabin e Pclass)

# Informa√ß√£o a ser analisada: As colunas Cabin e Pclass.

# An√°lise de Fraude: O valor do seguro de um passageiro da Primeira Classe seria muito maior do que o de um da Terceira Classe.
# A coluna Cabin, embora com muitos valores ausentes, pode ser usada para cruzar informa√ß√µes.
# Uma reivindica√ß√£o de seguro de alto valor para um passageiro que, segundo os registros, estava na Terceira Classe ou em uma cabine que n√£o correspondia a um bilhete de Primeira Classe, seria um forte ind√≠cio de fraude.

df_analise_cabine = df_limpo.copy()

print("Valores √∫nicos de cabines")
display(df_analise_cabine['Cabin'].unique())

df_analise_cabine['Cabin_Letter'] = df_analise_cabine['Cabin'].str[0]
print("\nDataframe com as letras da cabines separadas na √∫ltima coluna:")
display(df_analise_cabine)


# Criar a tabela cruzada para ver a distribui√ß√£o de classes por deck
deck_vs_pclass = pd.crosstab(df_analise_cabine['Cabin_Letter'], df_analise_cabine['Pclass'])

print("\nDistribui√ß√£o de Passageiros por Cabin_Letter e Classe:")
display(deck_vs_pclass)

# REGRA DE FRAUDE 1 (Anomalia Forte): Passageiro de 3¬™ classe alocado em cabines de 1¬™ classe.
# Isso seria um forte ind√≠cio de fraude se viesse de uma reivindica√ß√£o.
anomalia_forte = df_analise_cabine[
    (df_analise_cabine['Pclass'] == 3) &
    (df_analise_cabine['Cabin_Letter'].isin(['A', 'B', 'C', 'D','E']))
]
print("\nPassageiros da 3¬™ Classe que est√£o em Cabines de Passageiros de 1¬™ Classe:")
display(anomalia_forte)

# REGRA DE FRAUDE 2 (Anomalia Moderada): Passageiro de 1¬™ classe em cabines de 3¬™ classe.
# Menos prov√°vel como fraude de valor, mas ainda uma inconsist√™ncia de dados.
anomalia_moderada = df_analise_cabine[
    (df_analise_cabine['Pclass'] == 1) &
    (df_analise_cabine['Cabin_Letter'].isin(['F', 'G','M']))
]
print("\nPassageiros da 1¬™ Classe que est√£o em Cabines de Passageiros de 2¬™ e 3¬™ Classe:")
display(anomalia_moderada)

Valores √∫nicos de cabines

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

Dataframe com as letras da cabines separadas na √∫ltima coluna:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket     Fare    Cabin Embarked                                   First Name  Last Name  FamilySize Cabin_Letter
0              1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500  Missing        S                              Mr. Owen Harris     Braund           1            M
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.2833      C85        C   Mrs. John Bradley (Florence Briggs Thayer)    Cumings           1            C
2              3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250  Missing        S                                  Miss. Laina  Heikkinen           0            M
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000     C123        S           Mrs. Jacques Heath (Lily May Peel)   Futrelle           1            C
4              5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500  Missing        S                            Mr. William Henry      Allen           0            M
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...      ...      ...      ...                                          ...        ...         ...          ...
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.0000  Missing        S                                  Rev. Juozas   Montvila           0            M
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0            112053  30.0000      B42        S                         Miss. Margaret Edith     Graham           0            B
888          889         0       3           Johnston, Miss. Catherine Helen "Carrie"  female  28.0      1      2        W./C. 6607  23.4500  Missing        S               Miss. Catherine Helen "Carrie"   Johnston           3            M
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0            111369  30.0000     C148        C                              Mr. Karl Howell       Behr           0            C
890          891         0       3                                Dooley, Mr. Patrick    male  32.0      0      0            370376   7.7500  Missing        Q                                  Mr. Patrick     Dooley           0            M

[891 rows x 16 columns]

Distribui√ß√£o de Passageiros por Cabin_Letter e Classe:

Pclass         1    2    3
Cabin_Letter
A             15    0    0
B             47    0    0
C             59    0    0
D             29    4    0
E             25    4    3
F              0    8    5
G              0    0    4
M             40  168  479
T              1    0    0

Passageiros da 3¬™ Classe que est√£o em Cabines de Passageiros de 1¬™ Classe:

     PassengerId  Survived  Pclass                                Name     Sex   Age  SibSp  Parch             Ticket    Fare Cabin Embarked                  First Name Last Name  FamilySize Cabin_Letter
429          430         1       3  Pickard, Mr. Berk (Berk Trembisky)    male  32.0      0      0  SOTON/O.Q. 392078   8.050   E10        S   Mr. Berk (Berk Trembisky)   Pickard           0            E
751          752         1       3                 Moor, Master. Meier    male   6.0      0      1             392096  12.475  E121        S               Master. Meier      Moor           1            E
823          824         1       3                  Moor, Mrs. (Beila)  female  27.0      0      1             392096  12.475  E121        S                Mrs. (Beila)      Moor           1            E

Passageiros da 1¬™ Classe que est√£o em Cabines de Passageiros de 2¬™ e 3¬™ Classe:

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch    Ticket      Fare    Cabin Embarked                                 First Name     Last Name  FamilySize Cabin_Letter
30            31         0       1                           Uruchurtu, Don. Manuel E    male  40.0      0      0  PC 17601   27.7208  Missing        C                              Don. Manuel E     Uruchurtu           0            M
34            35         0       1                            Meyer, Mr. Edgar Joseph    male  28.0      1      0  PC 17604   82.1708  Missing        C                           Mr. Edgar Joseph         Meyer           1            M
35            36         0       1                     Holverson, Mr. Alexander Oskar    male  42.0      1      0    113789   52.0000  Missing        S                        Mr. Alexander Oskar     Holverson           1            M
64            65         0       1                              Stewart, Mr. Albert A    male  28.0      0      0  PC 17605   27.7208  Missing        C                               Mr. Albert A       Stewart           0            M
83            84         0       1                            Carrau, Mr. Francisco M    male  28.0      0      0    113059   47.1000  Missing        S                            Mr. Francisco M        Carrau           0            M
155          156         0       1                        Williams, Mr. Charles Duane    male  51.0      0      1  PC 17597   61.3792  Missing        C                          Mr. Charles Duane      Williams           1            M
168          169         0       1                                Baumann, Mr. John D    male  28.0      0      0  PC 17318   25.9250  Missing        S                                 Mr. John D       Baumann           0            M
187          188         1       1      Romaine, Mr. Charles Hallace ("Mr C Rolmane")    male  45.0      0      0    111428   26.5500  Missing        S       Mr. Charles Hallace ("Mr C Rolmane")       Romaine           0            M
256          257         1       1                     Thorne, Mrs. Gertrude Maybelle  female  28.0      0      0  PC 17585   79.2000  Missing        C                     Mrs. Gertrude Maybelle        Thorne           0            M
258          259         1       1                                   Ward, Miss. Anna  female  35.0      0      0  PC 17755  512.3292  Missing        C                                 Miss. Anna          Ward           0            M
270          271         0       1                              Cairns, Mr. Alexander    male  28.0      0      0    113798   31.0000  Missing        S                              Mr. Alexander        Cairns           0            M
290          291         1       1                       Barber, Miss. Ellen "Nellie"  female  26.0      0      0     19877   78.8500  Missing        S                       Miss. Ellen "Nellie"        Barber           0            M
295          296         0       1                                  Lewy, Mr. Ervin G    male  28.0      0      0  PC 17612   27.7208  Missing        C                                Mr. Ervin G          Lewy           0            M
306          307         1       1                            Fleming, Miss. Margaret  female  28.0      0      0     17421  110.8833  Missing        C                             Miss. Margaret       Fleming           0            M
334          335         1       1  Frauenthal, Mrs. Henry William (Clara Heinshei...  female  28.0      1      0  PC 17611  133.6500  Missing        S     Mrs. Henry William (Clara Heinsheimer)    Frauenthal           1            M
373          374         0       1                                Ringhini, Mr. Sante    male  22.0      0      0  PC 17760  135.6333  Missing        C                                  Mr. Sante      Ringhini           0            M
375          376         1       1              Meyer, Mrs. Edgar Joseph (Leila Saks)  female  28.0      1      0  PC 17604   82.1708  Missing        C             Mrs. Edgar Joseph (Leila Saks)         Meyer           1            M
380          381         1       1                              Bidois, Miss. Rosalie  female  42.0      0      0  PC 17757  227.5250  Missing        C                              Miss. Rosalie        Bidois           0            M
383          384         1       1  Holverson, Mrs. Alexander Oskar (Mary Aline To...  female  35.0      1      0    113789   52.0000  Missing        S   Mrs. Alexander Oskar (Mary Aline Towner)     Holverson           1            M
447          448         1       1                        Seward, Mr. Frederic Kimber    male  34.0      0      0    113794   26.5500  Missing        S                        Mr. Frederic Kimber        Seward           0            M
467          468         0       1                         Smart, Mr. John Montgomery    male  56.0      0      0    113792   26.5500  Missing        S                        Mr. John Montgomery         Smart           0            M
493          494         0       1                            Artagaveytia, Mr. Ramon    male  71.0      0      0  PC 17609   49.5042  Missing        C                                  Mr. Ramon  Artagaveytia           0            M
507          508         1       1      Bradley, Mr. George ("George Arthur Brayton")    male  28.0      0      0    111427   26.5500  Missing        S       Mr. George ("George Arthur Brayton")       Bradley           0            M
513          514         1       1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.0      1      0  PC 17603   59.4000  Missing        C         Mrs. Martin (Elizabeth L. Barrett)    Rothschild           1            M
537          538         1       1                                LeRoy, Miss. Bertha  female  30.0      0      0  PC 17761  106.4250  Missing        C                               Miss. Bertha         LeRoy           0            M
545          546         0       1                       Nicholson, Mr. Arthur Ernest    male  64.0      0      0       693   26.0000  Missing        S                          Mr. Arthur Ernest     Nicholson           0            M
555          556         0       1                                 Wright, Mr. George    male  62.0      0      0    113807   26.5500  Missing        S                                 Mr. George        Wright           0            M
557          558         0       1                                Robbins, Mr. Victor    male  28.0      0      0  PC 17757  227.5250  Missing        C                                 Mr. Victor       Robbins           0            M
602          603         0       1                          Harrington, Mr. Charles H    male  28.0      0      0    113796   42.4000  Missing        S                              Mr. Charles H    Harrington           0            M
604          605         1       1                    Homer, Mr. Harry ("Mr E Haven")    male  35.0      0      0    111426   26.5500  Missing        C                   Mr. Harry ("Mr E Haven")         Homer           0            M
607          608         1       1                        Daniel, Mr. Robert Williams    male  27.0      0      0    113804   30.5000  Missing        S                        Mr. Robert Williams        Daniel           0            M
633          634         0       1                      Parr, Mr. William Henry Marsh    male  28.0      0      0    112052    0.0000  Missing        S                    Mr. William Henry Marsh          Parr           0            M
660          661         1       1                      Frauenthal, Dr. Henry William    male  50.0      2      0  PC 17611  133.6500  Missing        S                          Dr. Henry William    Frauenthal           2            M
694          695         0       1                                    Weir, Col. John    male  60.0      0      0    113800   26.5500  Missing        S                                  Col. John          Weir           0            M
708          709         1       1                               Cleaver, Miss. Alice  female  22.0      0      0    113781  151.5500  Missing        S                                Miss. Alice       Cleaver           0            M
766          767         0       1                          Brewe, Dr. Arthur Jackson    male  28.0      0      0    112379   39.6000  Missing        C                         Dr. Arthur Jackson         Brewe           0            M
793          794         0       1                           Hoyt, Mr. William Fisher    male  28.0      0      0  PC 17600   30.6958  Missing        C                         Mr. William Fisher          Hoyt           0            M
822          823         0       1                    Reuchlin, Jonkheer. John George    male  38.0      0      0     19972    0.0000  Missing        S                      Jonkheer. John George      Reuchlin           0            M
842          843         1       1                            Serepeca, Miss. Augusta  female  30.0      0      0    113798   31.0000  Missing        C                              Miss. Augusta      Serepeca           0            M
856          857         1       1         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1      1     36928  164.8667  Missing        S       Mrs. George Dennick (Mary Hitchcock)          Wick           2            M